.fade-in {
    animation: transitionIn 1s ease-in;

    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    min-height:100vh;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
