.header {
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    display: flex;
    height: 8rem;
    justify-content: space-between;
    padding: 0 3.2rem;
    position: absolute;
    top: 0;
    width: 100%;
    transition: opacity 0.1s linear;

    ul {
        display: flex;
        height: 100%;

        li {
            list-style-type: none;

            a {
                color: white;
                font-family: "Montserrat", sans-serif;
                font-size: 20px;
                font-weight: 300;
                letter-spacing: 2px;
                padding: 0 2rem;
                text-decoration: none;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    color: #95a5a6;
                }
            }
        }
    }
}

.logo {
    cursor: pointer;
    margin: 0;
    padding: 0 3rem;
}

.transparent {
    visibility: hidden;
    opacity: 0;
}

.active {
    color: #95a5a6;
}

.dark {
    position: relative;
    ul {
        li {
            a {
                color: black;
            }
        }
    }
}

.overlay-button {
    span {
        background-color: white;
    }
}

@media only screen and (min-width: 1300px) {
    .overlay-button,
    .overlay-input {
        visibility: hidden;
        display: none;
    }
}

@media only screen and (max-width: 1300px) {
    .logo {
        margin: auto;
        padding: 0;
        height: 70px;
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .overlay {
        visibility: hidden;
    }

    .overlay-button {
        position: absolute;
        right: 1em;
        top: 2.5em;
        padding: 26px 11px;
        z-index: 5;
        cursor: pointer;
        user-select: none;
        span {
            height: 4px;
            width: 35px;
            border-radius: 2px;

            position: relative;
            display: block;
            transition: all 0.2s ease-in-out;
            &:before {
                top: -10px;
                visibility: visible;
            }
            &:after {
                top: 10px;
            }
            &:before,
            &:after {
                height: 4px;
                width: 35px;
                border-radius: 2px;
                background-color: white;
                position: absolute;
                content: "";
                transition: all 0.2s ease-in-out;
                right: 0;
            }
        }
    }

    .dark {
        span {
            background-color: black;
            &:before,
            &:after {
                background-color: black;
            }
        }
    }

    .overlay-input {
        display: none;
    }

    .cross {
        &:hover span,
        span {
            background: transparent;
        }
        span {
            &:before {
                transform: rotate(45deg) translate(7px, 7px);
                opacity: 1;
            }
            &:after {
                transform: rotate(-45deg) translate(7px, -7px);
            }
        }
    }
}
