.wrapper {
    height: 100vh;
    transition: background 0.2s ease;
    z-index: 1;
    width: 100vw;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 0;
}

.message-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.trigger {
    font-size: 1px;
    position: absolute;
    bottom: 0;
}

.message {
    color: white;
}
