.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 100vh;
    width: 100%;
    color: grey;
    margin-top: 4rem;
    padding: 4rem 8rem 0;
    box-sizing: border-box;

    transition: background 0.2s ease;
}

.black {
    background-color: black;
}

.sheet {
    background-image: url(./watercolor-2.jpg);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 800px;
    padding: 4rem 4rem;
    border-radius: 4rem;
    box-shadow: 0 0 40px #999;
}

.wave {
    width: 100vw;
}

.headline {
    margin: 20px 0;
    text-align: center;
}

.btn {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-family: Montserrat;
    letter-spacing: 2px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(90deg, #ff72c0, #55e7fc);
    outline: none;
    box-shadow: 0 0 4px #999;
    background-position: center;
    transition: 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}

.about-info {
    margin: 15rem 0 6rem;
    max-width: 1100px;
    line-height: 2;
    display: flex;
    align-items: center;

    p {
        margin-right: 5rem;
    }
}

.meditator {
    height: 30vw;
}

.mobile-only {
    visibility: hidden;
    display: none;
}

@media only screen and (max-width: 1000px) {
    .sheet {
        width: 90%;
        padding: 1rem;
        border-radius: 1rem;
    }

    .container {
        padding: 2rem 1rem 0;
    }

    .about-info {
        flex-direction: column;

        p {
            margin-right: 0;
        }
    }

    .meditator {
        margin-top: 2rem;
        height: 50vw;
    }

    .btn {
        font-size: 1.5rem;
    }

    .headline {
        font-size: 2rem;
    }

    .mobile-only {
        visibility: visible;
    }

    .desktop-only {
        display: none;
        visibility: hidden;
    }
}
