.map-container {
    margin-top: 50px;
    margin-left: 80px;
    position: relative;
    width: 50%;
}

.outer-container {
    display: flex;
    height: 600px;

    margin: auto;
    width: 1100px;
}

.info-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.1s ease-in-out;
    width: 50%;
}

.transparent {
    opacity: 0;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    :hover {
        background-color: black;
    }
}

.pointer {
    cursor: pointer;
    height: 20px;
    position: absolute;
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(2);
    }
}

.edinburgh {
    top: 170px;
    left: 240px;
}

.glasgow {
    top: 180px;
    left: 200px;
}

.manchester {
    top: 290px;
    left: 275px;
}

.nottingham {
    top: 330px;
    left: 300px;
}

.loughborough {
    top: 340px;
    left: 295px;
}

.leicester {
    top: 350px;
    left: 303px;
}

.birmingham {
    top: 355px;
    left: 265px;
}

.coventry {
    top: 360px;
    left: 285px;
}

.warwick {
    top: 365px;
    left: 280px;
}

.cambridge {
    top: 365px;
    left: 350px;
}

.oxford {
    top: 385px;
    left: 300px;
}

.hatfield {
    top: 385px;
    left: 330px;
}

.london {
    top: 400px;
    left: 340px;
}

.reading {
    top: 400px;
    left: 310px;
}

.bristol {
    top: 395px;
    left: 260px;
}

.canterbury {
    top: 410px;
    left: 375px;
}

.southampton {
    top: 440px;
    left: 295px;
}

.set-up-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    font-family: Montserrat;
    letter-spacing: 2px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(90deg, #ff72c0, #55e7fc);
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 4px #999;
    background-position: center;
    transition: 0.5s;

    &:hover {
        color: #c0c0c0;
    }
}
