.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s linear;
    animation: transitionIn 1s ease-in;
}

.fade-out {
    opacity: 0;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
