.outer-container {
    max-width: 1100px;
    margin: auto;
}

.container {
    padding: 2rem;

    h2 {
        text-align: center;
    }
}

.info-container {
    display: flex;
    flex-direction: row;
}

.info-box {
    padding: 1rem;
    position: relative;
    width: 33%;
    p {
        text-align: center;
        margin-top: 3rem;
    }
    a {
        color: grey;
    }
    b {
        color: black;
    }

    svg {
        color: black;
        position: absolute;
        left:50%;
        right: 50%;

    }
}
