.outerContainer {
    display: flex;
    flex-direction: row;
    margin: 0 auto 5rem;
    width: 1100px;
    min-height: 600px;
}

.menu {
    display: flex;
    height: 400;
    flex-direction: column;
    margin: auto;
    width: 25%;

    div {
        display: flex;
    }

    h2 {
        cursor: pointer;
        margin: 2rem auto;
        padding: 15px 20px;
        position: relative;

        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: -1px;
            content: "";
            display: block;
            height: 1px;
            left: 50%;
            position: absolute;
            background: grey;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
        &:hover:after {
            width: 100%;
            left: 0;
        }
    }
}

.underlined {
    h2:after {
        width: 100%;
        left: 0;
    }
}

.content-container {
    background-color: red;
    box-sizing: border-box;
    padding: 2rem;
    width: 75%;
}
