.card {
    width: 500px;
    height: 360px;
    margin: 2rem;
    position: relative;

    -webkit-box-shadow: 3px 8px 16px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 8px 16px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 8px 16px 4px rgba(0, 0, 0, 0.75);
}

.image {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: opacity 0.3s linear;
    display: flex;
    justify-content: center;
    background-image: url(../../../../static/watercolor-2.jpg);
}

.image img {
    height: 100%;
    margin: auto;
    // width: 100%;
}

.content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s linear;
    height: 100%;
    width: 100%;
}

.card:hover > .image {
    opacity: 0;
}

.card:hover > .content {
    opacity: 1;
}

.title {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.university {
    margin-top: 0;
    font-weight: 200;
}

.dateAndTime {
    font-weight: 500;
}

.icons {
    display: flex;
    margin-top: 1rem;
    position: relative;

    div {
        padding: 0 1rem;
    }
}

.facebook {
    svg {
        color: #4267b2;
    }
    cursor: pointer;
    transition: 0.2s linear;
    &:hover {
        transform: translateY(-3px) scale(1.1);
    }
}

.instagram {
    svg {
        color: purple;
    }
    cursor: pointer;
    transition: 0.2s linear;

    &:hover {
        transform: translateY(-3px) scale(1.1);
    }
}

.zoom {
    height: 35px;
    outline: none;
    width: 35px;
    transition: 0.2s linear;
    &:hover {
        transform: translateY(-3px) scale(1.1);
    }
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
}

.icons-mobile {
    display: none;
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 90vw;
        height: 65vw;
    }

    .content {
        width: 90vw;
        height: 65vw;

        p {
            font-size: 0.8rem;
        }
    }
    .icons {
        visibility: hidden;
        display: none;
    }
    .icons-mobile {
        display: flex;
        margin: 0 0 2rem;
        position: relative;
        visibility: visible;
        div {
            padding: 0 1rem;
        }
    }
}
